*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Chakra Petch', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(-225deg, rgba(71, 59, 123, 0.5) 0%, rgba(53, 133, 167, 0.5) 51%, rgba(48, 210, 191, 0.5) 100%), url(../img/electronica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #4f7bf5;
    margin-bottom: 40px;
    font-size: 40px;
}

.nav_title{
    font-weight: 300;
    color: #fff;
}

.nav_imglogo{
    width: 80px;
    opacity: 80%;
}

.contenedor-servicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 30%;
    border-radius: 10px;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.service-parrafo{
    margin-left: 10px;
}

.n-service{
    margin-bottom: 7px;
    color: #4f7bf5;
    margin-left: 5px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.n-galeria{
    display: inline-block;
    margin-top: 20px;
    width: 10%;
    margin-right: 0;
}

.galeria-paragraph{
    font-size: 90%;
}

.n-galerias{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    margin-right: 0;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: 10px;
}

.imagen-light{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.cont-expert img{
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.n-expert{
    display: inline-block;
    width: 100%;
    font-weight: 5000;
}

.footer{
    background-color: #4f7bf5;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    margin-left: 500px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 0px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.footer_copyright{
       padding-top: 20px;
       padding-bottom: 10px;
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.testimony{
    background-color: #b8f7e7;
}

.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.testimony_texts{
    max-width: 700px;
}

.testimony_course{
    color: rgb(90, 90, 90);
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

.about_main2{
    display: grid;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 40px;
}

.about_icon{
    width: 60px;
}

.about_icon2{
    width: 240px;
    border-radius: 10px;
}

.about_icon3{
    width: 250px;
    border-radius: 10px;
}

.subtitulo-soldadura{
    text-align: center;
    font-weight: 300;
    color: #4f7bf5;
    font-size: 40px;
    padding-top: 10px;
}

.parrafo-soldadura{
    font-size: large;
    text-align: center;
}

